@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
@layer components {
  .heroBtn {
    @apply px-6 py-2 border border-[#1b1b1b82] rounded-full uppercase tracking-widest text-gray-500 text-xs hover:text-green-300/40 hover:border-green-300/40 transition-all duration-300 ease-in-out;
  }
}
body {
  @apply no-scrollbar;
}
* {
  scroll-behavior: smooth;
}
